@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

header {
  h1 {
    background-color: v.$color-header;
    color: v.$color-accent;
    text-align: center;
    font-variant: small-caps;
    padding: 25px;
    font-size: 55px;
  }

  nav {
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 25px;
      background-color: v.$color-nav;
      padding: 12px 0;

      li {
        a {
          text-decoration: none;
          color: #000;
          font-weight: bold;
          transition: color 0.3s ease;

          &:hover { color: rgb(226, 195, 17); }
        }
      }
    }
  }

  @include m.respond(mobile) {
    h1 { font-size: 32px; padding: 15px; }
    nav ul { flex-direction: column; gap: 10px; }
  }
}